#section3 {
    max-width: 1600px;
    margin: 0 auto;
    clear: both;
    display: block;
    
}

.portal {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    @include breakpoint(xs) {
        max-width: 400px;
        margin: 0 auto 25px;
    }
    @include breakpoint(sm) {
        width: 30%;
        float: left;
        margin-bottom: 30px;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        transition: all .2s ease;
        text-decoration: none;
        .img-container {
            overflow: hidden;
            max-height: 300px;
//            margin-bottom: 20px;
            @include breakpoint(lg) {
                max-height: 350px;
            }
        }
        img {
            
            transition: all .3s ease;
        }
        h2 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h2, p {
            color: $text-color;
        }
       
        &:hover {
            transition: all .3s ease;
            img {
            
                transform: scale(1.03);
            }
            h2 {
            color: $link-color;
            text-decoration: none;
                transition: all .3s ease;
            }
            .btn-default {
                border-color: $link-color;
                color: $link-color;
                transition: all .3s ease;
            }
        }
    }
        
    .blurb-container {
            display: block;
            
            transition: all .3s ease;
            
            text-align: center;
            padding: 10px 5%;
        @include breakpoint(sm) {
        padding: 10px 10%;
        }
            
       
            
        }
       
     
        
       
    
    &#design-portal {
        
    }
    &#restore-portal {
        
    }
     &#repair-portal {
        
    }
    &.portal-full {
        width: 100%;
        display: block;
        float: none;
        
    }
}

.icon-design {
    width: 80px;
    height: 51px;
    background: url(../images/design-icon-black.svg) center center no-repeat;
    display: block;
    background-size: 100%;
    margin: 10px auto 0;

    @include breakpoint(md) {
        width: 100px;
        height: 65px;
    }
}

.icon-repair {
    width: 80px;
    height: 51px;
    background: url(../images/repair-icon-black.svg) center center no-repeat;
    display: block;
    background-size: 100%;
    margin: 10px auto 0;

    @include breakpoint(md) {
        width: 100px;
        height: 65px;
    }
}

        .title-container {
            .icon-design {
            background: url(../images/design-icon.svg) center center no-repeat;
                background-size: 100%;
            }
            .icon-restore {
            background: url(../images/restore-icon.svg) center center no-repeat;
                background-size: 100%;
            }
        }



.icon-restore {
    width: 80px;
    height: 51px;
    background: url(../images/restore-icon-black.svg) center center no-repeat;
    display: block;
    background-size: 100%;
    margin: 10px auto 0;
    @include breakpoint(md) {
        width: 100px;
        height: 65px;
    }
    
    

}